<!-- ABOUT -->
<section data-jarallax data-speed=".8" style="background-image: url(assets/img/breakfast-buffet.jpg)">
    <div class="min-vh-100 py-7 py-md-9 bg-gradient-bottom-end-white">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Divider -->
            <hr class="hr-sm bg-primary">

            <!-- Text -->
            <!-- <p class="fs-lg lh-lg text-black mb-0">
              Tutto per il WAFFLE - 
            </p> -->

          </div>
        </div>
      </div>
    </div>
  </section>