<!-- DISCOVER -->
<section class="py-7 py-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-2 order-md-2 align-self-end">

          <!-- Divider -->
          <hr class="hr-sm bg-primary">

          <!-- Text -->
          <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
            Una grande varietà di prodotti.
          </p>

        </div>
        <div class="col-md-4 order-md-3">

          <!-- Media -->
          <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

            <!-- Solid -->
            <div class="media-decoration-solid" data-jarallax-element="-10"></div>

            <!-- Border -->
            <div class="media-decoration-border" data-jarallax-element="-10"></div>

            <!-- Image -->
            <img class= "img-fluid" src="assets/img/karisma.jpg" alt="...">

          </div>

        </div>
        <div class="col-md-5 order-md-1 align-self-center mx-auto">

          <!-- Heading -->
          <h2 class="mb-2">
            <em>I nostri </em> migliori marchi tecnologici
          </h2>

          <!-- Text -->
          <p class="mb-0 fs-2">
            <span class="text-warning">- GAGGIA -NECTA -SAECO -SPM -ZERICA -BUNN -BRITA</span>  
          </p>
          <p> - - - - -</p>
          <h2 class="mb-2">
            <em>E per la Somministrazione Alimentare </em>
          </h2>
          <p class="mb-0 fs-2">
            <span class="text-warning">-AGRUMARIA -EFFEDUE -COVIM -RISTORA -OROGEL -LAMERI -GOLDEN MALTED -POMPADOUR -PARMALAT -MONVISO -BARILLA</span>  
          </p>
        </div>
      </div>
    </div>
  </section>