<!-- DISCOVER -->
<section class="pt-7 pt-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-2">

          <!-- Divider -->
          <hr class="hr-sm bg-primary">

          <!-- Text -->
          <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
            Assaporare una colazione al altezza delle aspettative può essere il miglior biglietto da visita di una valida struttura.
          </p>
          <hr class="hr-sm bg-primary">
        </div>
        <div class="col-md-4">

          <!-- Media -->
          <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

            <!-- Border -->
            <div class="media-decoration-border" data-jarallax-element="-10"></div>

            <!-- Image -->
            <img class="media-decoration-img img-fluid" src="assets/img/2.jpg" alt="...">

          </div>

        </div>
        <div class="col-md-5 align-self-center mx-auto">

          <!-- Heading -->
          <h2 class="mb-2 text-primary">
            <em>Servizi per </em> HO.RE.CA
          </h2>
          
          <!-- Text -->
          <p class="mb-2 fs-4">
            Fornire agli ospiti una gamma di prodotti e macchinari che possano incontrarne i gusti di tutti è diventato indispensabile e si traduce nella capacità di offrire una ricca e completa prima colazione.
          </p>

        </div>
      </div>
    </div>
  </section>