<!-- EVENTS -->
<section class="pt-7 pt-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2">
            Prossimi Eventi
          </h2>

          <!-- Subheading -->
          <p class="mb-6">
            Ti aggiorneremo con la nostra newsletter.
          </p>

        </div>
      </div>
    </div>
    <div id="events">
      <div class="event">
        <div class="event-sm collapse">
          <div class="container">
            <div class="row align-items-center py-6">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time class="d-block text-center text-black" datetime="2023-03-30">
                  <span class="d-block mb-2 display-6 font-serif">30</span>
                  <span>Marzo</span>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventOne" aria-controls="eventOne" role="button">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </div>

              </div>
              <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                <!-- Button -->
                <a class="btn btn-outline-primary" href="#section_reservation">
                  Chiama
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="event-lg collapse show bg-cover" id="eventOne" data-bs-parent="#events" style="background-image: url(assets/img/FieraGenova.jpg);">
          <div class="bg-black-50">
            <div class="container">
              <div class="row py-10">
                <div class="col-md-8 col-lg-5">

                  <!-- Date -->
                  <h3 class="text-xs text-primary">
                    <time datetime="2023-09-30">September 30, 2023</time>
                  </h3>

                  <!-- Heading -->
                  <h2 class="mb-3 text-white">
                    Evento  speciale con la partecipazione delle migliori aziende del settore.
                  </h2>

                  <!-- Description -->
                  <p class="mb-6 text-md-right text-primary">
                    Presentazone di tutti i nuovi prodotti per HORECA. Tutti i nostri clienti sono invitati.
                  </p>

                  <!-- Button -->
                  <a class="btn btn-outline-primary text-white text-primary-hover" href="#section_reservation">
                    Chiama
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="event-sm collapse show">
          <div class="container border-top">
            <div class="row align-items-center py-6">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time class="d-block text-center text-black" datetime="2023-03-29">
                  <span class="d-block mb-2 display-6 font-serif">29</span>
                  <span>Marzo</span>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo" aria-controls="eventTwo" role="button">
                  Presentazione della nuova macchina automatica per il caffè della SAECO
                </div>

              </div>
              <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                <!-- Button -->
                <a class="btn btn-outline-primary" href="#section_reservation">
                  Chiama
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="event-lg collapse bg-cover" id="eventTwo" data-bs-parent="#events" style="background-image: url(assets/img/FieraGenova.jpg);">
          <div class="bg-black-50">
            <div class="container">
              <div class="row py-10">
                <div class="col-md-8 col-lg-5">

                  <!-- Date -->
                  <h3 class="text-xs text-primary">
                    <time datetime="2023-04-19">Aprile 12, 2023</time>
                  </h3>

                  <!-- Heading -->
                  <h2 class="mb-3 text-white">
                    Presentazione Breakfast Service
                  </h2>

                  <!-- Description -->
                  <p class="mb-6 text-white-75">
                    Dimostrazione guidata delle nuove macchine per la colazione.
                  </p>

                  <!-- Button -->
                  <a class="btn btn-outline-primary text-white text-primary-hover" href="#about-us">
                    Prenota una chiamata di cortesia
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="event-sm collapse show">
          <div class="container border-top">
            <div class="row align-items-center py-6">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time class="d-block text-center text-black" datetime="2017-09-28">
                  <span class="d-block mb-2 display-6 font-serif">28</span>
                  <span>Aprile</span>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventThree" aria-controls="eventThree" role="button">
                  Evento di presentazione dei nostri nuovi Distributori Automatici
                </div>

              </div>
              <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                <!-- Button -->
                <a class="btn btn-outline-primary" href="#section_reservation">
                  Chiama
                </a>

              </div>
            </div>
          </div>
        </div>
        <div class="event-lg collapse bg-cover" id="eventThree" data-bs-parent="#events" style="background-image: url(assets/FieraGenova.jpg);">
          <div class="bg-black-50">
            <div class="container">
              <div class="row py-10">
                <div class="col-md-8 col-lg-5">

                  <!-- Date -->
                  <h3 class="text-xs text-primary">
                    <time datetime="2023-04-28">28 Aprile, 2023</time>
                  </h3>

                  <!-- Heading -->
                  <h2 class="mb-3 text-white">
                    Presentazione delle nuove Aziende Partner
                  </h2>

                  <!-- Description -->
                  <p class="mb-6 text-white-75">
                    La nuova macchina per il caffè della Gaggia
                  </p>

                  <!-- Button -->
                  <a class="btn btn-outline-primary text-white text-primary-hover" href="#about-us">
                    Chiama
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
