<footer class="py-7 py-md-9 bg-black">
  <div class="container px-4">
    <div class="row gx-7">
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-primary">
          Chi siamo
        </h5>

        <!-- Text -->
        <p class="mb-6">
          Azienda di Genova specializzata nella vendita, noleggio e  riparazione di distributori automatici di bevande calde e fredde.
        </p>

      </div>
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-primary">
          Informazioni di contatto
        </h5>

        <!-- List -->
        <ul class="list-unstyled mb-6">
          <li class="d-flex mb-2">
            <div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
            BREAKFAST SERVICE SAS Via San Felice 41/R, 16138 Genova P.I. 02514540992
          </li>
          <li class="d-flex mb-2">
            <div class="fas fa-phone me-3 mt-2 fs-sm"></div>
            +39 348 6719145
          </li>
          <li class="d-flex">
            <div class="far fa-envelope me-3 mt-2 fs-sm"></div> <a href="mailto:admin@domain.com">breakfastservicesas@gmail.com</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-4">

        <!-- Heading -->
        <h5 class="text-xs text-primary">
          Orari di apertura
        </h5>

        <!-- Text -->
        <div class="mb-3">
          <div class="text-md-start">Lunedi - Venerdi</div>
          <div class="text-primary font-serif">9:00 - 12:00 / 14:00 - 19:00</div>
        </div>

        <!-- Text -->
        <div class="mb-6">
          <div class="text-md-start">Sabato - Domenica</div>
              <div class="text-primary font-serif">Chiusura</div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <!-- Copyright -->
        <div class="d-flex align-items-center">
          <hr class="hr-sm me-3" style="height: 1px;" /> &copy; 2023 Jm199. All rights reserved. Mail to: jm199@pm.me
        </div>

      </div>
    </div>
  </div>
</footer>

<!--  -->