<!-- GALLERY -->
<section class=" py-7 py-md-9">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2">
            La nostra galleria
          </h2>

          <!-- Subheading -->
          <p class=" mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
      </div>
      <div class="row gx-3" data-isotope>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/11.jpg" }'>
            <img class="img-fluid" src="assets/img/11.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/16.jpg" }'>
            <img class="img-fluid" src="assets/img/16.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/13.jpg" }'>
            <img class="img-fluid" src="assets/img/13.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/15.jpg" }'>
            <img class="img-fluid" src="assets/img/15.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/14.jpg" }'>
            <img class="img-fluid" src="assets/img/14.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/18.jpg" }'>
            <img class="img-fluid" src="assets/img/18.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/17.jpg" }'>
            <img class="img-fluid" src="assets/img/17.jpg" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4">

          <!-- Item -->
          <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/12.jpg" }'>
            <img class="img-fluid" src="assets/img/12.jpg" alt="...">
          </a>

        </div>
      </div>
    </div>
  </section>