<!-- MENU -->
<section class="py-7 py-md-9 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2 text-warning">
              Soluzioni per la colazione in Albergo e Hotel,e B&B, Case Vacanza, Case di riposo a Genova e in tutta la Liguria
          </h2>

          <!-- Subheading -->
          <p class="mb-6 fs-3">
            Dalla fornitura dei prodotti alla formazione del personale passando per la manutenzione e la consulenza la Breakfast Service offre un servizio a 360° per le strutture ricettive che vogliono ottenere il massimo da un buffet ed offrire un servizio d'eccellenza ai propri clienti.  
          </p>

        </div>
      </div>
      
      <!-- Menu  Distributori -->
      {{> partials/menuOne}}
      
      
    </div>
  </section>