<div class="row">
    <div class="col-12">

      <!-- Slider -->
      <div class="flickity-viewport-visible" data-flickity='{"cellAlign": "left", "contain": true, "imagesLoaded": true, "pageDots": false}'>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/fresh-juice.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">AGRUMARIA</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                Attraverso i  distributori di ultima generazione arriviamo  ad erogare bevande dal singolo bicchiere a 3 litri al minuto senza fermarsi. 
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/Yogurtieraf2.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
              </p>

            </div>

          </div>

        </div>
        
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">
            <!-- Image -->
            <img class="card-img-top" src="assets/img/zerica-gemini.jpg" alt="..." />
            <!-- Body -->
            <div class="card-body">
              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">ZERICA touch screen a tre gusti base succo concentrato più acqua naturale e frizzante.
                    Chiedi informazioni </h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black">$23</span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
              </p>

            </div>

          </div>

        </div>

        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/zerica-gemini.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/Yogurtieraf2.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/karisma.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                In perspiciatis nisi dicta, aperiam magnam eaque laborum iste.
              </p>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>