<div class="w-100 px-2" style="max-width: 320px;">

    <!-- Card -->
    <div class="card border-0">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/Yogurtieraf2.jpg" alt="..." />

      <!-- Body -->
      <div class="card-body">

        <!-- Heading -->
        <div class="row mb-2">
          <div class="col">
            <h5 class="mb-0">Lorem ipsum dolor sit amet consectetur</h5>
          </div>
          <div class="col-auto">
            <span class="fs-4 font-serif text-black"></span>
          </div>
        </div>