<div class="row">
    <div class="col-12">

      <!-- Slider -->
      <div class="flickity-viewport-visible" data-flickity='{"cellAlign": "left", "contain": true, "imagesLoaded": true, "pageDots": false}'>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/Yogurtieraf2.jpg" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">GAGGIA - LA RADIOSA</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                Un vero e proprio gioiello tecnologico che si sposa perfettamente con EvoMilk, un sistema all’avanguardia pensato per offrire ai clienti bevande a base di latte montato caldo e freddo di alta qualità. 
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/La Solare_Intro_NEW_0_0.png" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">GAGGIA - LA SOLARE</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>
              <p class="mb-0">

              </p>
              <!-- Text -->
              <p class="mb-0">
                Frutto di una serie di soluzioni tecnologiche all’avanguardia, La Solare è stata progettata per riaccendere i riflettori sui momenti più importanti della tua giornata. 
              </p>

            </div>

          </div>

        </div>
        
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">
            <!-- Image -->
            <img class="card-img-top" src="assets/img/idea restyle cappuccino_0.png" alt="..." />
            <!-- Body -->
            <div class="card-body">
              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">SAECO - IDEARESTYLE </h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                La cura di ogni particolare, le finiture premium, abbinate ad una grafica molto elegante ed intuitiva, rendono ancora più piacevole e gradevole la pausa relax e la preparazione della vostra ricetta preferita.
              </p>

            </div>

          </div>

        </div>

        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/iper-premium.png" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">SAECO - Iperautomatica</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                Nuovi componenti per la gestione dei prodotti solubili, nuovi canister e un nuovo mixer.
                Nuova tastiera e finitura lucida che le donano un aspetto moderno e brillante, caratteristiche che la affinano in tecnologia e bellezza e che la rendono ancor di più una compagna di lavoro essenziale.
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/aulika-evo-office.png" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">SAECO - Aurika EVO</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                Aulika Evo è moderna, è social, è un polo di attrazione per persone che vivono la pausa caffè non solo come momento di relax, ma anche come opportunità per parlare rilassati, condividere le proprie idee e sensazioni con colleghi e amici.
              </p>

            </div>

          </div>

        </div>
        <div class="w-100 px-2" style="max-width: 320px;">

          <!-- Card -->
          <div class="card border-0">

            <!-- Image -->
            <img class="card-img-top" src="assets/img/karisma-espresso-latte-fresco_hero_2x.png" alt="..." />

            <!-- Body -->
            <div class="card-body">

              <!-- Heading -->
              <div class="row mb-2">
                <div class="col">
                  <h5 class="mb-0">NECTA - Karisma</h5>
                </div>
                <div class="col-auto">
                  <span class="fs-4 font-serif text-black"></span>
                </div>
              </div>

              <!-- Text -->
              <p class="mb-0">
                Progettata per il servizio giornaliero di caffè in hotel di alta qualità e in particolare per il caffè della prima colazione, Karisma rappresenta un'eccezionale velocità di erogazione e un'elevata produttività (fino a 200 tazze all'ora). Karisma offre un'ampia gamma personalizzabile di bevande calde a base di autentico caffè espresso italiano in grani e latte fresco, o di prodotti solubili come la cioccolata.
              </p>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>