<!-- TESTIMONIALS -->
<section class="py-7 py-md-9 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 text-center">

          <!-- Heading -->
          <h2 class="mb-2">
            Cosa dicono di noi
          </h2>

          <!-- Subheading -->
          <p class="mb-6">
            Leggi alcune impressioni dei nostri clienti
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Slider -->
          <div data-flickity='{"imagesLoaded": true, "wrapAround": true}'>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/20.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">

                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">
                    <blockquote class="blockquote mb-0">
                      <p class="font-serif text-black mb-5">
                        Breakfast Service mi ha dato le risposte che cercavo in poco tempo.
                        Davvero professionali
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-xs mb-0">
                      Brad Pitt
                    </figcaption>
                  </figure>

                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/21.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">

                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">
                    <blockquote class="blockquote mb-0">
                      <p class="font-serif text-black mb-5">
                        Sempre disponibili a risolvere i problemi di assistenza dei distributori automatici.
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-xs mb-0">
                      Olivia Newtow John
                    </figcaption>
                  </figure>

                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="row align-items-center justify-content-center">
                <div class="col-8 col-md-3 order-md-1">

                  <!-- Avatar -->
                  <img class="img-fluid rounded-circle mb-5 mb-md-0" src="assets/img/22.jpg" alt="..." />

                </div>
                <div class="col-md-7 order-md-0">

                  <!-- Blockquote -->
                  <figure class="mx-auto mb-0" style="max-width: 500px;">
                    <blockquote class="blockquote mb-0">
                      <p class="font-serif text-black mb-5">
                        Sono anni che lavoro con la Breakfast Service e mi sono sempre trovato a mio agio.
                      </p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-xs mb-0">
                      Cristina Aguilera
                    </figcaption>
                  </figure>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>