<!-- WELCOME -->
<header data-jarallax data-speed=".8" style="background-image: url(assets/img/1.jpg);">
    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Preheading -->
           <!--  <h1 class="text-md-center text-white-75">
              <span class="text-primary">HO</span>TEL 
              <span class="text-primary">RE</span>STAURANT
              <span class="text-primary">CA</span>FE
            </h1>
-->
            <!-- Heading -->
            <h1 class="display-2 text-warning mb-4">
              Breakfast Service
            </h1>

            <!-- Subheading -->
            
            <!-- <p class="text-center text-white-75 mb-4"> -->
            <p class="display-6 text-white-75 mb-4">
              Vendita, Noleggio e Manutenzione Distributori Automatici
            </p>
            <p class="display-6 text-white-75 mb-4">
              per
            </p>
            <p class="display-6 text-white-75 mb-4">
              Colazioni Self Service
            </p>
            <!-- Button -->
            <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="#">
              CHIAMA
            </a>
  
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">

            <!-- Social links -->
            <ul class="list-inline text-center text-md-start mb-3 my-md-5">
              <li class="list-inline-item">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
              <i class="fas fa-map-marker-alt text-primary me-3"></i>
              <span class="text-primary fs-5">
                BREAKFAST SERVICE SAS Via San Felice 41/R, 16138 Genova
                Telefono : +39 348 6719145
              </span>
            </p>

          </div>
        </div>
      </div>
    </div>
  </header>